In [2]:
path = '/import/c4dm-datasets/openmic-2018/openmic-2018'

import numpy as np
import os

np_load_old = np.load

# modify the default parameters of np.load
np.load = lambda *a,**k: np_load_old(*a, allow_pickle=True, **k)


OPENMIC = np.load(os.path.join(path, 'openmic-2018.npz'))

print(list(OPENMIC.keys()))

np.load = np_load_old

['X', 'Y_true', 'Y_mask', 'sample_key']

In [3]:
OPENMIC['X'].shape # X: 20000 10 128 array of VGGish features sample x time x feats

(20000, 10, 128)

In [5]:
print(OPENMIC['X'].dtype)

int64


- X: 20000 10 128 array of VGGish features
    - First index (0..19999) corresponds to the sample key
    - Second index (0..9) corresponds to the time within the clip (each time slice is 960 ms long)
    - Third index (0..127) corresponds to the VGGish features at each point in the 10sec clip
    - Example X[40, 8] is the 128-dimensional feature vector for the 9th time slice in the 41st example
- Y_true: 20000 20 array of true* label probabilities
    - First index corresponds to sample key, as above
    - Second index corresponds to the label class (accordion, ..., voice)
    - Example: Y[40, 4] indicates the confidence that example #41 contains the 5th instrument
- Y_mask: 20000 * 20 binary mask values
    - First index corresponds to sample key
    - Second index corresponds to the label class
    - Example: Y[40, 4] indicates whether or not we have observations for the 5th instrument for example #41
- sample_key: 20000 array of sample key strings
    - Example: sample_key[40] is the sample key for example #41

In [25]:
OPENMIC['sample_key'][41]

'000386_65280'

- 'sample_key' needs to be matched to many entries in the csv

In [7]:
import pandas as pd

df = pd.read_csv(os.path.join(path, 'openmic-2018-aggregated-labels.csv'))

In [8]:
df

          sample_key instrument  relevance  num_responses
0        000046_3840   clarinet    0.17105              3
1        000046_3840      flute    0.00000              3
2        000046_3840    trumpet    0.00000              3
3      000135_483840  saxophone    0.14705              3
4      000135_483840      voice    1.00000              3
...              ...        ...        ...            ...
41529  155307_211200  saxophone    1.00000              3
41530  155310_372480  saxophone    1.00000              3
41531  155311_453120  saxophone    1.00000              3
41532  155311_453120    trumpet    0.82605              3
41533  155311_453120   trombone    1.00000              3

[41534 rows x 4 columns]

In [30]:
label_to_idx = {label: idx for idx, label in enumerate(np.sort(df['instrument'].unique()))}

label_to_idx

{'accordion': 0,
 'banjo': 1,
 'bass': 2,
 'cello': 3,
 'clarinet': 4,
 'cymbals': 5,
 'drums': 6,
 'flute': 7,
 'guitar': 8,
 'mallet_percussion': 9,
 'mandolin': 10,
 'organ': 11,
 'piano': 12,
 'saxophone': 13,
 'synthesizer': 14,
 'trombone': 15,
 'trumpet': 16,
 'ukulele': 17,
 'violin': 18,
 'voice': 19}

In [14]:
import pandas as pd

df = pd.read_csv(os.path.join(path, 'partitions/split01_test.csv'), header=None)

In [19]:
df[0]

0         000178_3840
1        000308_61440
2       000312_184320
3       000319_145920
4       000321_218880
            ...
5080     155175_38400
5081     155176_23040
5082         155178_0
5083    155193_145920
5084    155194_126720
Name: 0, Length: 5085, dtype: object